




@import "tailwindcss";
@plugin "daisyui";


@variant dark (&:where(.dark, .dark *));
/* Also bind daisyUI/Data Theme selectors to the class toggler */
.dark {
  color-scheme: dark;
}

html, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari and Opera */
}

/* 2. Modern Tailwind v4 Utility Class syntax */
@utility no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  
  &::-webkit-scrollbar {
    display: none !important; /* Chrome, Safari and Opera */
  }
}



body {
  transition: background-color 0.2s ease, color 0.2s ease;
}